.wrapper {
  width: 600px;
  composes: pl-4 from global;
  composes: pr-4 from global;
  box-sizing: border-box;
}

.ingredients {
  width: 100%;
  height: calc(100vh - 344px);
  composes: mt-25 from global;
  composes: mb-10 from global;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

.list{
  width: 100%;
  list-style: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: -16px;
  composes: pr-2 from global;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background-color: rgba(47, 47, 55, 1);
}

.list::-webkit-scrollbar-thumb {
  background-color: rgba(133, 133, 173, 1);
}

.element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.price {
  margin-top: 0;
  margin-bottom: 0;
  composes: text_type_digits-medium from global;
}

.currency {
  width: 33px;
  height: 33px;
  object-fit: contain;
  object-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragIcon {
  width: 13px;
  height: 18.3px;
  object-fit: contain;
  object-position: center;
  margin-right: 13.5px;
  cursor: pointer;
}

.error{
  width: 100%;
  text-align: center;
}

.placeholder{
  composes: text_type_main-default from global;
  margin: 0;
  text-align: center;
  color: #8585AD;
}

.ingredientsEmpty{
  border: 2px dotted rgba(133, 133, 173, .1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.digits{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
}

@media screen and (max-width: 1100px) {
  .dragIcon{
    display: none;
  }

  .wrapper{
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .ingredients{
    height: 80%;
  }

  .list{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
  }

  .bun{
    width: 100%;
    padding-right: 8px;
  }

  .info{
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 500px) {
  .price{
    font-size: 40px;
  }

}