.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 200px;
}

.title{
  composes: text_type_digits-large from global;
  margin: 0;
}

.caption{
  composes: text_type_main-default from global;
}