.header {
  background-color: rgba(28, 28, 33, 1);
  width: 100%;
  padding-right: 0;
  composes: pt-4 from global;
  composes: pb-4 from global;
  position: relative;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.icon__logo{

}