.header {
  background-color: rgba(28, 28, 33, 1);
  width: 100%;
  padding-right: 0;
  composes: pt-4 from global;
  composes: pb-4 from global;
  position: relative;
}

.container{
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: none;
  position: fixed;
  padding: 5px 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgba(28, 28, 33, 1);
}

.icon_menu{
  cursor: pointer;
}

.icon_logo{
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .container{
    display: flex;
  }
  
}

